/* todo app start*/
/* h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}*/
input {
  width: 100%;
}
/*.items-container{
  text-align: left;
}*/
.kg-row{
  margin: 10px 5px;
}
.kg-button{
  min-width: 80px;
} 
/* todo app end*/
/* props */
/* .kg-item{
background-color:aquamarine;
}
.kg-span{
  font-weight: 500;
  color:red;
}
.food-heading{
  background-color: aliceblue;
  color: brown;
} */